<html lang="en" xmlns:th="https://www.thymeleaf.org">
  <head>
    <script src="../static/js/script.js" th:src="@{/js/script.js}"></script>  
    <link href="/css/loginStyles.css" rel="stylesheet" /> 
  </head>
  <body>
	<header th:insert="~{fragments/unsecureHeader.html :: unsecureHeader}"></header>
    <div class="container">
      <div id="error" class="error">
        <p th:text="${error}"></p>
      </div>
      <h1><u>Register Here!</u></h1>
      <form name="form" action="#" th:action="@{/register}" method="post" onsubmit="return verify()">
        Email: <input type="email" name="username" /><br>
        Password: <input type="password" name="password" /><br>
        Verify Password: <input type="password" name="verifyPassword" /><br>
        <input type="submit" value="Register">  
      </form>
      <form method="get" th:action="@{/login}">
        <input type="submit" value="Back to Login"/>
      </form>
    </div>
    <footer th:insert="~{fragments/footer.html :: footer}"></footer>
  </body>
</html>